.form {
    max-width: 500px;
    margin: 1rem auto;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
    padding: 1rem;
    border-radius: 1rem;
}

.form .form_inputs {
    width: 100%;
    position: relative;
}

.input_country {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #aaa;
    outline: none;
}

.input_country::placeholder {
    color: #aaa;
}

.search_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    outline: none;
    border: 1px solid #aaa;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.3s ease;
}

.search_btn:hover {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border: 1px solid hsl(197, 71%, 73%);
    background-color: hsl(197, 71%, 73%);
    color: hsla(0, 0%, 0%, 0.5);
}

@media (width < 431px ) {
    .input_country {
        font-size: 0.8rem;
    }
}